@import "../SASS/variables-mixins.scss";


/* Styles pour le header principal */
.header__principal {
  /* Flex container avec orientation en colonne */
  @include flex-property(flex, column);
  text-align: center;
/* Styles pour l'élément d'information */
  &__info {
    /* Flex container avec orientation en colonne */
    @include flex-property(flex, column);
/* Styles pour le logo */
    &__logo {
      position: relative;
      box-shadow: $ombre-box;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      img {
        width: 66%;
      }
    }
 /* Styles pour la localisation */
    &__localisation {
      display: flex;
      background-color: $background-color;
      padding-top: 15px;
      padding-bottom: 15px;
      justify-content: center;
      button {
        font-size: 1em;
        font-weight: 500;
        display:flex;
        gap:15px;
        background-color: $background-color;
        border: none;
        i {
          width: 5%;
        }
      }
    }
     /* Styles pour le texte */
    &__txt {
      background-color :#F6F6F6;
      padding: 25px;
      
        h1{
          width: 90%;
          font-size: 1.5em;
          font-weight: 700;
          margin: 10px;
        }
        p {
          font-size: 1.125em;
          font-weight: 300;
        }
        
    }
    
  }
   /* Styles pour le bouton Call to Action (cta) */
    .cta {
       /* Centre verticalement tout le contenu à l'intérieur du conteneur */
       display: flex;
       justify-content: center;
    align-items: center;
    margin-top: 40px;
    button {
      width: 220px;
      text-align: center;
      border-radius: 25px;
      background: $button-color;
      color: white;
      font-size: 1em;
      font-weight: 500;
      padding-top: 15px;
      padding-bottom: 15px;
      border: none;
      box-shadow: $ombre-button;
    }
  }
}
