@import "../Variable-mixins/variables-mixins.scss";
/******************LOADER ******************/
  .conteneur__loader {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: hide-loader 5s forwards;

    .loader {
      margin-top: 100px;
      border: 8px solid $primary-color;
      border-top: 8px solid $secondarry-color;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      animation: spin 2s linear infinite;
    }

    .animation__logo {
      opacity: 0;
      width: 35%;
      max-width: 400px;
      animation: logo 2500ms 1500ms both;
    }
  }
  @keyframes logo {
    0% {
      opacity: 0;
      transform: scaleY(0);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes hide-loader {
    80% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
      display: none;
    }
  }
/************ BOUTON CTA *******************/
.cta button:hover {
  background: linear-gradient(
    175deg,
    lighten($primary-color, 5%) 0%,
    lighten($secondarry-color, 5%) 100%
  );
  box-shadow: $ombre-button-assombri;
  transition: all 0.5s ease-in-out;
}

/************** COEUR CARD *************/
/* Style pour le cœur vide */

.heart-icone-regular i.fa-heart {
  transition: background-size 750ms ease-in-out;
  background-size: 100% 100%;
  background-position: bottom;
}

/* Style pour le cœur plein */
.heart-icone-solid i.fa-heart {
  opacity: 0;
  background: -webkit-linear-gradient($primary-color, $secondarry-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 750ms ease-in-out, background-size 750ms ease-in-out;
  background-size: 100% 0;
  background-position: top;
}
input#heart-toggle {
  cursor: pointer;
  margin: 0;
  opacity: 0;
  position: absolute;
  font-size: 1.5em;
  top:-45px;
  right: 40px;
  z-index: 100;
  width: 24px;
  height: 24px;
}

/* Au clic sur le cœur plein, afficher le remplissage */
input:checked ~ .heart-icone-solid i.fa-heart {
  opacity: 1;
  background-size: 100% 100%;
}

/**************BOUTON VALIDEE***************/



.conteneur__principal__menu input:checked ~ .animation-validation, .conteneur__principal__menu__repas__card:hover .animation-validation {
    opacity: 1;
    transition: opacity 750ms ease-in-out, width 750ms ease-in-out; // Transition fluide d'opacité et de déplie
    width: 59px;
  }

.animation-validation {
  display: none;
  transition: opacity 350ms ease-in-out, width 750ms; // Transition fluide d'opacité et replie
}

/****************APARITION MENU ***************/

@keyframes slidein {
  0% {
    visibility: hidden;
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@for $i from 1 through 10 {
  .conteneur__principal__menu__repas__card.animation-repas#{$i} {
    animation-delay: $i * 700ms; // Le délai sera différent pour chaque élément
    opacity: 0;
    animation-duration: 2s;
    animation-name: slidein;
    animation-fill-mode: both;
  }
}
