@charset "UTF-8";
* {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

p,
h1,
h2,
h3,
a {
  font-family: "Roboto", sans-serif;
}

/* Styles pour le bouton Call to Action (cta) */
.cta {
  /* Centre verticalement tout le contenu à l'intérieur du conteneur */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.cta button {
  width: 220px;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  color: white;
  font-size: 1em;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}

/* Styles pour les divers CARDS */
.card {
  display: flex;
  font-weight: 500;
  white-space: nowrap;
  box-sizing: content-box;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Styles pour le header principal */
.header__principal {
  /* Flex container avec orientation en colonne */
  display: flex;
  flex-direction: column;
  text-align: center;
  /* Styles pour l'élément d'information */
}
.header__principal__info {
  /* Flex container avec orientation en colonne */
  display: flex;
  flex-direction: column;
  /* Styles pour le logo */
  /* Styles pour la localisation */
  /* Styles pour le texte */
}
.header__principal__info__logo {
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__principal__info__logo img {
  height: 36px;
}
.header__principal__info__localisation {
  display: flex;
  background-color: #EAEAEA;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
}
.header__principal__info__localisation button {
  font-size: 1em;
  font-weight: 500;
  display: flex;
  gap: 15px;
  background-color: #EAEAEA;
  border: none;
}
.header__principal__info__localisation button i {
  width: 5%;
}
.header__principal__info__txt {
  text-align: center;
  background-color: #F6F6F6;
  padding: 25px;
}
.header__principal__info__txt h1 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 10px;
}
.header__principal__info__txt p {
  font-size: 1.125em;
  font-weight: 300;
}

/****************Style header Restaurant**********************************/
.header__principal__info {
  position: relative;
}
.header__principal__info a {
  position: absolute;
  top: 14px;
  left: 20px;
}
.header__principal__info a .fa-solid {
  font-size: 1.5em;
}
.header__principal__info__restaurant {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #fff;
  box-sizing: border-box;
  padding-left: 25px;
  padding-bottom: 22px;
  padding-top: 22px;
  gap: 5px;
}
.footer__nav i {
  width: 35px;
  color: #fff;
}
.footer__nav a {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}
.footer__nav h3 {
  font-size: 1.125em;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}
.footer__nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 16px;
}
.footer__nav ul li {
  margin-top: 7px;
}

.conteneur__principal {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.conteneur__principal h2 {
  margin-left: 15px;
}
.conteneur__principal__fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 25px;
}
.conteneur__principal__fonctionnement__card {
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.conteneur__principal__fonctionnement__card .fa-mobile-screen-button {
  margin-left: 10px;
}
.conteneur__principal__fonctionnement__card .solid-grey {
  color: grey;
}
.conteneur__principal__fonctionnement__card .solid-purple {
  color: #9356DC;
}
.conteneur__principal__fonctionnement__card__nombre {
  color: #fff;
  position: absolute;
  left: 20px;
  border-radius: 25px;
  background-color: #9356DC;
  width: 20px;
  text-align: center;
  font-weight: 500;
}
.conteneur__principal__restaurant {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
}
.conteneur__principal__restaurant__card {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 0;
  border-radius: 15px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}
.conteneur__principal__restaurant__card__img {
  position: relative;
}
.conteneur__principal__restaurant__card__img img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.conteneur__principal__restaurant__card__img .etiquette {
  font-family: "Roboto", sans-serif;
  top: 13px;
  right: 13px;
  position: absolute;
  border-radius: 2px;
  text-align: center;
  color: #008766;
  background-color: #99E2D0;
  width: 80px;
  padding: 10px;
  font-weight: 500;
  font-size: 0.8em;
}
.conteneur__principal__restaurant__card__content {
  position: relative;
}
.conteneur__principal__restaurant__card__content__logo {
  position: relative;
}
.conteneur__principal__restaurant__card__content__logo .fa-heart {
  margin: 0;
  position: absolute;
  font-size: 1.5em;
  top: -45px;
  right: 40px;
}
.conteneur__principal__restaurant__card__content__txt {
  padding-bottom: 12px;
  padding-top: 15px;
  padding-left: 15px;
}
.conteneur__principal__restaurant__card__content__txt h3 {
  font-weight: 700;
}
.conteneur__principal__restaurant__card__content__txt p {
  font-weight: 300;
  font-size: 1.075em;
}

.conteneur__principal__menu {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f6f6f6;
  gap: 40px;
  padding: 17px;
  padding-top: 35px;
  padding-bottom: 50px;
  margin-top: -25px;
  border-radius: 25px;
}
.conteneur__principal__menu .heart-icone-regular,
.conteneur__principal__menu .heart-icone-solid {
  width: 24px;
  height: 24px;
  margin: 0;
  position: absolute;
  top: 30px;
  right: 25px;
  font-size: 1.5em;
}
.conteneur__principal__menu__header__titre {
  font-family: "Shrikhand", cursive;
  font-size: 1.75em;
  font-weight: 400;
}
.conteneur__principal__menu__repas {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
.conteneur__principal__menu__repas .titre__repas {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1em;
}
.conteneur__principal__menu__repas .forme {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: -10px;
  margin-bottom: -5px;
}
.conteneur__principal__menu__repas__card {
  justify-content: space-between;
  align-items: end;
  padding: 0;
  height: 69px;
}
.conteneur__principal__menu__repas__card__content {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.conteneur__principal__menu__repas__card__prix-validation {
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
}
.conteneur__principal__menu__repas__card__prix-validation .prix {
  display: flex;
  text-align: end;
  margin-right: 15px;
  margin-bottom: 15px;
}
.conteneur__principal__menu__repas__card__prix-validation .animation-validation {
  display: flex;
  opacity: 0;
  width: 0;
  height: 69px;
  align-items: center;
  justify-content: center;
  border-radius: 0 25px 25px 0;
  text-align: center;
  background-color: #99E2D0;
  color: #fff;
}
.conteneur__principal__menu .cta {
  margin: 0;
}

/******************LOADER ******************/
.conteneur__loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: hide-loader 5s forwards;
}
.conteneur__loader .loader {
  margin-top: 100px;
  border: 8px solid #9356DC;
  border-top: 8px solid #FF79DA;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  animation: spin 2s linear infinite;
}
.conteneur__loader .animation__logo {
  width: 60%;
  animation: logo 2000ms;
}

@keyframes logo {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hide-loader {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}
/************ BOUTON CTA *******************/
.cta button:hover {
  background: linear-gradient(175deg, #a16be0 0%, #ff93e1 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

/************** COEUR CARD *************/
/* Style pour le cœur vide */
.heart-icone-regular .fa-heart {
  cursor: pointer;
  transition: background-size 750ms ease-in-out;
  background-size: 100% 100%;
  background-position: bottom;
}

/* Style pour le cœur plein */
.heart-icone-solid .fa-heart {
  cursor: pointer;
  opacity: 0;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 750ms ease-in-out, background-size 750ms ease-in-out;
  background-size: 100% 0;
  background-position: top;
}

/* Au survol du cœur plein, afficher le remplissage */
.heart-icone-solid:hover .fa-heart {
  opacity: 1;
  background-size: 100% 100%;
}

/**************BOUTON VALIDEE***************/
.conteneur__principal__menu__repas__card:hover .animation-validation {
  opacity: 1;
  transition: opacity 750ms ease-in-out, width 750ms ease-in-out;
  width: 59px;
}

.animation-validation {
  display: none;
  transition: opacity 350ms ease-in-out, width 750ms;
}

/****************APARITION MENU ***************/
@keyframes slidein {
  0% {
    display: none;
    width: 0%;
    opacity: 0;
  }
  100% {
    display: flex;
    width: 100%;
    opacity: 1;
  }
}
.conteneur__principal__menu__repas__card.animation-repas1 {
  animation-delay: 700ms;
  opacity: 0;
  animation-duration: 2s;
  animation-name: slidein;
  animation-fill-mode: both;
}

.conteneur__principal__menu__repas__card.animation-repas2 {
  animation-delay: 1400ms;
  opacity: 0;
  animation-duration: 2s;
  animation-name: slidein;
  animation-fill-mode: both;
}

.conteneur__principal__menu__repas__card.animation-repas3 {
  animation-delay: 2100ms;
  opacity: 0;
  animation-duration: 2s;
  animation-name: slidein;
  animation-fill-mode: both;
}

.conteneur__principal__menu__repas__card.animation-repas4 {
  animation-delay: 2800ms;
  opacity: 0;
  animation-duration: 2s;
  animation-name: slidein;
  animation-fill-mode: both;
}

.conteneur__principal__menu__repas__card.animation-repas5 {
  animation-delay: 3500ms;
  opacity: 0;
  animation-duration: 2s;
  animation-name: slidein;
  animation-fill-mode: both;
}

.conteneur__principal__menu__repas__card.animation-repas6 {
  animation-delay: 4200ms;
  opacity: 0;
  animation-duration: 2s;
  animation-name: slidein;
  animation-fill-mode: both;
}

.conteneur__principal__menu__repas__card.animation-repas7 {
  animation-delay: 4900ms;
  opacity: 0;
  animation-duration: 2s;
  animation-name: slidein;
  animation-fill-mode: both;
}

.conteneur__principal__menu__repas__card.animation-repas8 {
  animation-delay: 5600ms;
  opacity: 0;
  animation-duration: 2s;
  animation-name: slidein;
  animation-fill-mode: both;
}

.conteneur__principal__menu__repas__card.animation-repas9 {
  animation-delay: 6300ms;
  opacity: 0;
  animation-duration: 2s;
  animation-name: slidein;
  animation-fill-mode: both;
}

@media screen and (min-width: 1050px) {
  .header__principal__info__txt h1 {
    font-size: 2.5em;
  }
  .section__acceuil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section__acceuil h2 {
    margin: 0;
  }
  .section__acceuil .regroupement__card__fontionnement {
    min-width: 1080px;
  }
  .conteneur__principal {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    /****************SECTION FONCTIONNEMENT****************/
    /************************SECTION RESTAURANT*************/
  }
  .conteneur__principal__fonctionnement {
    width: 100%;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 35px;
    gap: 35px;
  }
  .conteneur__principal__fonctionnement__card {
    box-sizing: content-box;
    margin: 0;
    gap: 25px;
    margin-top: 25px;
    padding-left: 40px;
    padding-right: 50px;
    position: relative;
  }
  .conteneur__principal__fonctionnement__card__nombre {
    left: -10px;
  }
  .conteneur__principal__restaurant {
    padding-top: 30px;
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-template-columns: 490px 490px;
    box-sizing: border-box;
    margin: 0;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
    /********************CARD FONCTIONNEMENT*************/
  }
  .conteneur__principal__restaurant h2 {
    row-gap: 25px;
    display: flex;
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .conteneur__principal__restaurant__card {
    margin: 0;
  }
  /****************FOOTER ******************/
  .footer__nav {
    flex-direction: row-reverse;
    justify-content: end;
    align-items: flex-end;
    padding: 0;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .footer__nav h3 {
    display: flex;
    justify-content: flex-end;
    margin-left: 100px;
    margin-right: 25px;
  }
  .footer__nav ul {
    display: flex;
    list-style-position: inside;
    gap: 25px;
  }
  .footer__nav ul li:nth-child(2) {
    padding-right: 100px;
  }
  .footer__nav ul li {
    white-space: nowrap;
  }
  /************************FIN ACCEUIL ********************/
  /************************PAGE RESTAURANT ****************/
  .body-restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .body-restaurant .header__principal {
    width: 100%;
  }
  .body-restaurant .header__principal__info {
    width: 100%;
    height: 100%;
  }
  .body-restaurant .header__principal__info .header__principal__info__restaurant {
    -o-object-position: 70% 60%;
       object-position: 70% 60%;
    height: 400px;
    box-sizing: border-box;
  }
  .body-restaurant .conteneur__principal__menu {
    width: 70%;
    padding-top: 50px;
    align-items: center;
    border-radius: 25px 25px 0 0;
  }
  .body-restaurant .conteneur__principal__menu .heart-icone-regular,
  .body-restaurant .conteneur__principal__menu .heart-icone-solid {
    right: 370px;
    top: 55px;
  }
  .body-restaurant .conteneur__principal__menu__header {
    text-align: center;
  }
  .body-restaurant .conteneur__principal__menu__repas {
    width: 60%;
  }
  .body-restaurant .footer__nav {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */