@import "../Variable-mixins/variables-mixins.scss";

.conteneur__principal {
  @include flex-property(flex, column);
  margin-top: 20px;
  h2 {
    margin-left: 15px;
  }

  &__fonctionnement {
    @include flex-property(flex, column);
    align-items: center;
    padding : 50px;
    gap: 25px;

    &__card {
      width: 100%;
      justify-content: center;
      align-items: center;
      gap:30px;
      .fa-mobile-screen-button {
        margin-left: 10px;
      }
        .solid-grey {
        color: grey;
      }
      .solid-purple {
        color: $primary-color;
      }
      &__nombre {
        color: #fff;
        position:absolute;
        left:20px;
        border-radius: 25px;
        background-color: $primary-color;
        width: 20px;
        text-align: center;
        font-weight: 500;
      }
    }
  }
  &__restaurant {
    @include flex-property(flex, column);
    gap: 30px;
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0;
    &__card {
        @include flex-property(flex, column);
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 0;
        border-radius: 15px;
        text-decoration: none;
        color: #000;
        background-color: #fff;
      &__img {
        position: relative;
      img {
        width: 100%;
        height: 190px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
      }
      .etiquette {
        font-family: $normal-font;
        top:13px;
        right: 13px;
        position: absolute;
        border-radius: 2px;
        text-align: center;
        color: $font-color-prim;
        background-color: $third-color;
        width: 80px;
        padding: 10px;
        font-weight: 500;
        font-size: 0.8em;
      }
    }
      &__content {
        position: relative;
        
      &__logo {
        position: relative;
        .fa-heart {
          margin: 0;
          position: absolute;
          font-size: 1.5em;
          top:-45px;
          right: 40px;
        }
      }
        &__txt {
          padding-bottom: 12px;
          padding-top: 15px;
          padding-left: 15px;
          h3 {
            font-weight: 700;
          }
          p {
            font-weight: 300;
            font-size: 1.075em;
          }
        }
      }
    }
  }
}
